* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Big Shoulders Stencil", sans-serif;
}

body {
    background-color: rgb(9, 9, 9);
    }

h5{
    color: #f8eeee;
    font-size: 1.5em;
}

header {
    margin-top: 1em;
}
.menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 2.3em;
    margin-left: 2em;
    margin-right: 2em;
}

.marca , .cerrar {
    color: #f8eeee;
    text-decoration: none;
}
.marca:hover{
    color: #f8eeee;
}
.cerrar:hover{
    color: red;
}
/* Estilos generales del carrusel */
.carrusel {
    margin-top: 1em;
    width: 97vw;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 15px;
}


/* Contenedor de cada imagen y su texto */
.item {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    transition: flex-grow 0.5s ease;
}

/* Estilos de las imágenes */
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Estilos del texto */
.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #f8eeee;
    font-size: 2em;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
    border-radius: 10px;
    text-decoration: none;
}

/* Efectos al pasar el mouse */
.item:hover {
    flex-grow: 2; /* Hace que la imagen se expanda */
}
.item:hover img {
    opacity: 1;
    filter: contrast(120%);
    transform: scale(1.1);
}

.item:hover .titulo {
    opacity: 1; /* Muestra el texto */
    color: #d0caca;
}

/* --- Responsividad --- */
@media screen and (max-width: 768px) {
    .marca {
        font-size: 1.5em;
        padding-left: 0.5em;
    }
    .carrusel  {
        flex-direction: column;
        height: 100vh;
    }
    .item img {
        height: 100%;
    }
    .item:hover img {
        transform: scale(1.2);
    }
    .titulo {
        font-size: 1em;
    }
}
.cartelera{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
}
.fotos{
    margin-top: 6em;
    width: 100vw;
    height: 70vh;
    display: flex;
}

.foto{
    width: 20%;
    height: 50%;
    padding: 5px;
    text-align: center;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotos-resumen{
    color: #d0caca;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
@media screen and (max-width: 768px){
    .cartelera{
        height: auto;
    }
    .fotos{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .foto{
        width: 100%;
        height: auto;
        margin: 1.2em;
        margin-top: 1em;

    }

}
.diko{
    background-image: linear-gradient(to right, rgba(8, 8, 8, 0.496), rgba(8, 8, 8, 0.137)), url(../assets/img/biografia.jpg);
    object-fit: cover;
}

.bio{
    margin-left: 70%;
    width: 420px;
    color: beige;
    font-size: 1.2em;
    letter-spacing: 0.5em;
}