* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Big Shoulders Stencil", sans-serif;
}

body {
    background-color: rgb(9, 9, 9);
    }

h1{
    color: #eef0f8;
    font-size: 2em;
}


.menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 2.3em;
    margin-left: 2em;
    margin-right: 2em;
}

.marca , .cerrar {
    color: #f8eeee;
    text-decoration: none;
}
.marca:hover{
    color: red;
}
.cerrar{
    color: red;
}
.cerrar:hover{
    color: #f8eeee;}
/* Estilos generales del carrusel */
.carrusel {
    width: 97vw;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 15px;
}


/* Contenedor de cada imagen y su texto */
.item {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    transition: flex-grow 0.5s ease;
}

/* Estilos de las imágenes */
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Estilos del texto */
.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #f8eeee;
    font-size: 2em;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
    border-radius: 10px;
    text-decoration: none;
}

/* Efectos al pasar el mouse */
.item:hover {
    flex-grow: 2; /* Hace que la imagen se expanda */
}
.item:hover img {
    opacity: 1;
    filter: contrast(120%);
    transform: scale(1.1);
}

.item:hover .titulo {
    opacity: 1; /* Muestra el texto */
    color: #d0caca;
}

/* --- Responsividad --- */
@media screen and (max-width: 768px) {
    .marca {
        font-size: 1em;
        padding-left: 0.5em;
    }
    .carrusel  {
        flex-direction: column;
        height: 100vh;
    }
    .item img {
        height: 100%;
    }
    .item:hover img {
        transform: scale(1.2);
    }
    .titulo {
        font-size: 1em;
    }
}
.contenedor {
    width: 95%;
    min-height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;

}


.diko{
    background-image: linear-gradient(to right, rgba(8, 8, 8, 0.496), rgba(8, 8, 8, 0.137)), url(../assets/img/biografia.jpg);
    background-size: cover;
        /* Ajusta la imagen para cubrir toda la pantalla */
        background-position: center;
        /* Centra la imagen */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        min-height: 100vh;
}

.bio{
    margin-left: 70%;
    width: 420px;
    color: beige;
    font-size: 1.2em;
    letter-spacing: 0.5em;
}
@media screen and (max-width: 768px) {
    .diko {
            background-image: linear-gradient(to right, rgba(8, 8, 8, 0.686), rgba(8, 8, 8, 0.686)), url(../assets/img/biografia.jpg);
            object-fit: cover;
        }
    .bio{
        width: 380px;
        margin-left: 10px;
        font-size: 1em;
        letter-spacing: 0.5em;
    }
}