@charset "UTF-8";
/*Contenedor flexible*/
/*Configuracion general de img*/
/*Configuración para aplicar neumorfismo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Stencil", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  background-color: #171515;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  color: #eef0f8;
  letter-spacing: 0.2em;
  line-height: 1.6;
}

h1 {
  font-size: 2em;
  color: #eef0f8;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  color: #636363;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  color: #aba8a8;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  color: #999;
  font-weight: bold;
  margin-bottom: 10px;
}

h5 {
  font-size: 18px;
  color: #bbb;
  font-weight: bold;
  margin-bottom: 10px;
}

h6 {
  font-size: 16px;
  color: #ddd;
  font-weight: bold;
  margin-bottom: 10px;
}

/*Estilo del header*/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3em;
  padding: 0 1em;
  font-size: 2.3em;
}

.marca {
  color: #eef0f8;
  width: 210px;
  padding: 0.1em;
  text-align: center;
}

.cerrar {
  color: #ff0000;
  text-align: center;
}

.marca:hover {
  color: #ff0000;
}

.cerrar:hover {
  color: #eef0f8;
}

.marca {
  background-color: #1c1a1a;
  border-radius: 7px;
  box-shadow: inset 7px 7px 14px #040404, inset -7px -7px 14px #222020;
}

.cerrar {
  background-color: #1c1a1a;
  border-radius: 7px;
  box-shadow: inset 7px 7px 14px #040404, inset -7px -7px 14px #222020;
  width: 40px;
}

@media (max-width: 320px) {
  .menu {
    justify-content: space-around;
    padding: 0;
  }
  .marca {
    font-size: 0.8em;
    width: auto;
  }
}
.mosaico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  width: 98vw;
  height: 79vh;
  overflow: hidden;
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  transition: flex-grow 0.5s ease;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #f8eeee;
  font-size: 2em;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 1em;
  border-radius: 10px;
  text-decoration: none;
}

/* Efectos al pasar el mouse */
.item:hover {
  flex-grow: 2;
  /* Hace que la imagen se expanda */
}

.item:hover img {
  opacity: 1;
  filter: contrast(120%);
  transform: scale(1.1);
}

.item:hover .titulo {
  opacity: 1;
  color: #d0caca;
}

@media screen and (width <= 600px) {
  .mosaico {
    flex-direction: column;
    height: 100vh;
    margin-top: 1em;
  }
  .item img {
    height: 100%;
  }
  .item:hover img {
    transform: scale(1.2);
  }
  .titulo {
    font-size: 1em;
  }
}
/*Estilo de la biografia*/
.fondo {
  background-image: linear-gradient(to right, rgba(12, 12, 12, 0.512), rgba(8, 8, 8, 0.355)), url(https://res.cloudinary.com/dv9yjyclh/image/upload/v1758394158/biografia_lqkyjx.jpg);
  background-size: cover;
  /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* ocupa todo el espacio disponible */
}

.prof {
  color: #171515;
  margin-top: 0.5em;
  margin-left: 1.5em;
  font-size: 1.1em;
}

.prof_separa {
  color: #ff0000;
}

.prof_responsive {
  display: none;
}

.foto {
  display: none;
}

.bio {
  width: clamp(280px, 30%, 600px);
  font-size: clamp(0.95em, 1.5vw, 1.1em);
  margin-left: auto;
  margin-right: 0;
  margin-top: 1.5em;
}

.contacto-bloque {
  text-align: right;
  padding: 1em;
  font-size: 1.1em;
  margin-top: 2em;
  top: em;
}

.contacto {
  color: #171515;
}

/* Tablets */
@media (max-width: 768px) {
  .prof {
    width: 30%;
    margin-left: 0.5em;
    font-size: 1em;
    text-align: left;
  }
  .contacto {
    color: #aba8a8;
  }
}
@media (max-width: 600px) {
  .fondo {
    background-image: none;
    background-color: #171515;
  }
  .prof {
    width: 100%;
    color: #eef0f8;
  }
  .prof_span {
    display: none;
  }
  .prof_responsive {
    display: block;
    margin-left: 5.5em;
    color: #eef0f8;
  }
  .biografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    gap: 1em;
  }
  .foto {
    display: block;
    background-color: #1c1a1a;
    border-radius: 10px;
    box-shadow: inset 10px 10px 20px #040404, inset -10px -10px 20px #222020;
    width: 95%;
    margin: 0.7em auto;
  }
  .foto img {
    width: 100%;
    height: auto;
    padding: 0.5em;
    border-radius: 15px;
    object-fit: cover;
    opacity: 0.9;
    text-align: center;
  }
  .bio {
    margin: 0.5em;
    width: 95%;
  }
  .contacto-bloque {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    text-align: center;
    padding: 0;
    font-size: 1em;
    margin-bottom: 1em;
  }
  .contacto {
    padding: 0 0.8em;
  }
}
/*Sección Documental*/
.contenedor_docu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-top: 1em;
}

.documental {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  background-color: #1c1a1a;
  border-radius: 7px;
  box-shadow: inset 7px 7px 14px #040404, inset -7px -7px 14px #222020;
  width: 90vw;
  margin-top: 1em;
}

.video {
  width: 50vw;
  margin-left: 2em;
  text-align: center;
  margin-top: 1em;
}
.video iframe {
  width: 90%;
  aspect-ratio: 16/9; /* Hace el video responsivo */
}

.descripcion {
  width: 50vw;
  height: 95%;
  padding: 1em;
  overflow-y: auto;
}

/*responsividad*/
@media screen and (max-width: 768px) {
  .documental {
    flex-direction: column;
    width: 99vw;
    min-height: auto;
  }
  .video,
  iframe {
    width: 95%;
  }
  .descripcion {
    width: 98%;
    height: 15em;
    overflow-y: auto;
  }
}
@media screen and (max-width: 425px) {
  .documental {
    width: 90vw;
  }
  .video,
  iframe {
    width: 90%;
  }
  .descripcion {
    width: 100%;
    height: inherit;
  }
  .oculto {
    display: none;
  }
}
/*Estilo de la galería de Venezuela*/
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0em;
  width: 97vw;
  height: 82vh;
  margin: auto;
}

.seccion {
  background-color: #1c1a1a;
  border-radius: 10px;
  box-shadow: inset 10px 10px 20px #040404, inset -10px -10px 20px #222020;
  width: 140px;
  height: 40px;
  text-align: center;
  margin-top: 1em;
}

.gallery {
  background-color: #1c1a1a;
  border-radius: 10px;
  box-shadow: inset 10px 10px 20px #040404, inset -10px -10px 20px #222020;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 96%;
  height: 70%;
  flex-wrap: wrap;
}

.album {
  position: relative;
  flex: 1 1 30%;
  max-width: 32%;
  height: 90%;
  border-radius: 20px;
  overflow: hidden;
  margin: 1%;
  transition: flex-grow 0.5s ease;
}

.album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.album:hover img {
  opacity: 1;
  filter: contrast(120%);
  transform: scale(1.1);
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
  font-size: 2em;
  transition: opacity 0.3s ease-in-out;
}

.album:hover .titulo {
  opacity: 1;
  color: #d0caca;
  cursor: pointer;
}

/* albums individuales */
.albums {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0em;
  width: 90vw;
  margin: auto;
  padding-top: 1em;
}

.album-content {
  display: none; /* inicialmente oculto */
  padding: 1em;
  background-color: #1c1a1a;
  border-radius: 15px;
  box-shadow: inset 7px 7px 14px #040404, inset -7px -7px 14px #222020;
  text-align: center;
  margin-top: 1em;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.album-grid a {
  display: block;
}

.album-grid-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.close-album {
  background-color: #1c1a1a;
  border-radius: 7px;
  box-shadow: inset 7px 7px 14px #040404, inset -7px -7px 14px #222020;
  color: #ff0000;
  margin-top: 1em;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
  letter-spacing: 0.3em;
}

@media (min-width: 1065px) {
  .gallery {
    background-color: #1c1a1a;
    border-radius: 7px;
    box-shadow: inset 7px 7px 14px #040404, inset -7px -7px 14px #222020;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%;
    height: 73%;
  }
}
@media screen and (max-width: 768px) {
  .contenedor {
    height: auto;
  }
  .gallery {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.2em;
  }
  .album {
    flex: 1 1 90%;
    max-width: 92%;
    height: auto;
    margin: 10px;
  }
  .close-album {
    font-size: 0.8em;
    padding: 0.3em;
    letter-spacing: 0.2em;
  }
}
@media (max-width: 480px) {
  .album-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* ocupa todo el espacio disponible 
}

footer {
  margin-top: auto; /* se pega al fondo 
}

*/
footer {
  margin-top: auto; /* se pega al fondo */
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  color: #eef0f8;
  padding: 0.5em 2em;
}

.enlaces {
  color: #eef0f8;
}

.enlaces:hover {
  color: #ff0000;
  font-size: 1.1em;
}

.fa-brands {
  margin-right: 0.6em;
}

.copy {
  color: #eef0f8;
  font-size: 0.8em;
}

.developer {
  color: #eef0f8;
  font-weight: 100;
}

small a {
  color: #ff0000;
  font-weight: 100;
  margin-top: 0.3em;
  display: block;
  text-align: center;
}

@media screen and (width <= 600px) {
  .redes {
    gap: 1em;
  }
  .enlaces {
    margin: 0;
  }
  .text_resumido {
    display: none;
  }
  .copy {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=styles.css.map */
