@use "./variables" as v;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    ;
  }
 html,
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

body {
  background-color: v.$color_fondo;
}
a {
  color: v.$color_marca;
  text-decoration: none;
}
li {
  list-style: none;
  margin-bottom: 0.5em;
}
p {
  color: v.$color_marca;
  // letter-spacing: 0.2em;
  line-height: 2;
}

// Aplicar el mixin a cada encabezado
h1 {
  @include v.headingStyles(h1);
}
h2 {
  @include v.headingStyles(h2);
}
h3 {
  @include v.headingStyles(h3);
}
h4 {
  @include v.headingStyles(h4);
}
h5 {
  @include v.headingStyles(h5);
}
h6 {
  @include v.headingStyles(h6);
}
 