/*Contenedor flexible*/
@mixin d_flex($display, $direccion, $just, $alig, $mt) {
  display: $display;
  flex-direction: $direccion;
  justify-content: $just;
  align-items: $alig;
  margin-top: $mt;
}
@mixin img($ancho, $alto, $cover, $opacidad) {
  width: $ancho;
  height: $alto;
  object-fit: $cover;
  opacity: $opacidad;
}
@mixin neo($bg, $b_radio, $eje) {
  background-color: $bg;
  border-radius: $b_radio;
  box-shadow: $eje $eje ($eje * 2) #040404, (-$eje) (-$eje) ($eje * 2) #211d1d;
}
