$color_fondo: #171515;
$color_marca: #eef0f8;
$color_cerrar: #ff0000;
$color_hover: #ff0000;

// Definir un mapa con estilos para cada encabezado
$heading-map: (
  h1: (
    2em,
    $color_marca,
  ),
  h2: (
    30px,
    #636363,
  ),
  h3: (
    24px,
    #c49029,
  ),
  h4: (
    20px,
    #999,
  ),
  h5: (
    18px,
    #bbb,
  ),
  h6: (
    16px,
    #ddd,
  ),
);
p {
  color: $color_marca;
  letter-spacing: 0.2em;
  line-height: 1.6;
}

// Crear un mixin para aplicar estilos desde el mapa
@mixin headingStyles($heading) {
  $styles: map-get($heading-map, $heading); // Obtener el valor del mapa
  font-size: nth($styles, 1); // Extraer el primer valor (tamaño de fuente)
  color: nth($styles, 2); // Extraer el segundo valor (color)
  font-weight: bold;
  margin-bottom: 10px;
}
@mixin enlaces($color) {
  color: $color;
}
