@use "sass:map";
@use "sass:list";

$color_fondo: #171515;
$color_marca: #eef0f8;
$color_cerrar: #ff0000;
$color_hover: #ff0000;
$color_contacto: #aba8a8;
$color_texto_sec: #636363;

// Definir un mapa con estilos para cada encabezado
$heading-map: (
  h1: (
    1.8em,
    $color_marca,

  ),
  h2: (
    1.5em,
    $color_texto_sec,
  ),
  h3: (
    1.2em,
    $color_contacto
  ),
  h4: (
    20px,
     $color_fondo,
  ),
  h5: (
    18px,
    #bbb,
  ),
  h6: (
    16px,
    #ddd,
  ),
);

// Crear un mixin para aplicar estilos desde el mapa
@mixin headingStyles($heading) {
  $styles: map.get($heading-map, $heading); // Obtener el valor del mapa
  font-size: list.nth($styles, 1); // Extraer el primer valor (tamaño de fuente)
  color: list.nth($styles, 2); // Extraer el segundo valor (color)
  font-weight: bold;
  margin-bottom: 10px;
}
@mixin enlaces($color) {
  color: $color;
}
