@use "../utilities/utilities" as utils;
/*Estilo de la biografia*/
.fondo {
  background-image: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.512),
      rgba(8, 8, 8, 0.355)
    ),
    url(https://res.cloudinary.com/dv9yjyclh/image/upload/v1758394158/biografia_lqkyjx.jpg);
  background-size: cover;
  /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; /* ocupa todo el espacio disponible */
}
.prof {
  color: utils.$color_fondo;
  margin-top: 0.5em;
  margin-left: 1.5em;
  font-size: 1.1em;
}
.prof_separa {
  color: utils.$color_hover;
}
.prof_responsive {
  display: none;
}
.foto {
  display: none;
}
.bio {
  width: clamp(280px, 30%, 600px); // Ancho flexible entre móviles y desktop
  font-size: clamp(0.95em, 1.5vw, 1.1em); // Tamaño de fuente responsivo
  margin-left: auto;
  margin-right: 0;
  margin-top: 1.5em;
}
 


.contacto-bloque {
  text-align: right;
  padding: 1em;
  font-size: 1.1em;
  margin-top: 2em;
  //  que quede pegado al footer visualmente:
  top: em; // Ajusta según lo que veas en pantalla
}
.contacto, .nombre {
  color: utils.$color_fondo;
}
// Media query mínima para ajustar padding en móviles
/* Tablets */
@media (max-width: 768px) {
  .prof {
    width: 30%;
    margin-left: 0.5em;
    font-size: 1em;
    text-align: left;
  }

  .contacto, .nombre {
    color: utils.$color_contacto;
  }
}
@media (max-width: 600px) {
  .fondo {
    background-image: none;
    background-color: utils.$color_fondo;
  }
  .prof {
    width: 100%;
    color: utils.$color_marca;
  }

  .prof_span {
    display: none;
  }
  .prof_responsive {
    display: block;
    margin-left: 5.5em;
    color: utils.$color_marca;
  }
  .biografia {
    @include utils.d_flex(flex, column, center, center, 1em);
    width: 100%;
    text-align: center;
    gap: 1em;
  }
  .foto {
    display: block;
    @include utils.neo(#1c1a1a, 10px, 10px);
    width: 95%;
    margin: 0.7em auto;
  }
  .foto img {
    width: 100%;
    height: auto;
    padding: 0.5em;
    border-radius: 15px;
    object-fit: cover;
    opacity: 0.9;
    text-align: center;
  }
  .bio {
    margin: 0.5em;
    width: 95%;
  }
  .text_oculto {
    display: none;
  }
  .contacto-bloque {
    @include utils.d_flex(flex, row, center, center, 0.5em);
    text-align: center;
    padding: 0;
    font-size: 1em;
    margin-bottom: 1em;
  }
  h4{
       color: utils.$color_contacto;
  }
  .contacto {
    padding: 0 0.8em;
  }
}
