/*Sección Documental*/
.documental {
  @include d_flex(flex, row, space-between, center, 0);
  width: 98vw;
  height: 67vh;
  margin-left: 0.6em;
}
.documental {
  @include neo(#1c1a1a, 7px, 7px);
}
.video {
  width: 30%;
  padding: 1em;
}
.descripcion {
  width: 55%;
  height: 95%;
  padding: 1em;
  overflow-y: auto;
}
