/*Sección Documental*/
.documental {
  @include d_flex(flex, row, space-between, center, 0);
  width: 98vw;
  height: 67vh;
  margin-left: 0.6em;
}
.documental {
  @include neo(#1c1a1a, 7px, 7px);
}
.video {
  width: 30%;
  padding: 1em;
}
.descripcion {
  width: 55%;
  height: 95%;
  padding: 1em;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  .documental {
    width: 100vw;
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .video,
  iframe {
    width: 100%;
  }

  .descripcion {
    width: 98%;
    height: 15em;
    overflow-y: auto;
  }
}
