/*Sección Documental*/
.documental {
  @include d_flex(flex, row, space-between, center, 0);
  @include neo(#1c1a1a, 7px, 7px);
  width: 98vw;
  min-height: 67vh;
}

.video {
  width: 50%;
  padding: 1em;

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* Hace el video responsivo */
  }
}
.descripcion {
  width: 55%;
  height: 95%;
  padding: 1em;
  overflow-y: auto;
}

/*responsividad*/

@media screen and (max-width: 768px) {
  .documental {
    flex-direction: column;
    width: 100vw;
    min-height: auto;
  }
  .video,
  iframe {
    width: 100%;
  }

  .descripcion {
    width: 98%;
    height: 15em;
    overflow-y: auto;
  }
}
