@use "../utilities/utilities" as utils;

footer {
  margin-top: 0.8em; /* se pega al fondo */
}
.redes {
  @include utils.d_flex(flex, row, space-between, center, 0);
  color: utils.$color_marca;
  padding: 0.5em 2em;
}
.enlaces {
  @include utils.enlaces(utils.$color_marca);
}
.enlaces:hover {
  color: utils.$color_hover;
}
.fa-brands {
  margin-right: 0.6em;
}

.copy {
  @include utils.enlaces(utils.$color_marca);
  font-size: 0.8em;
}
.developer {
  color: utils.$color_marca;
  font-weight: 100;
}

@media screen and (width <= 600px) {
  .redes {
    gap: 1em;
  }
  .enlaces {
    margin: 0;
  }
  .text_resumido {
    display: none;
  }
  .copy {
    font-size: 0.7em;
  }
}
