@use "../utilities/utilities" as utils;
/*Estilo de la galería de Viajes*/

.contenedor {
  @include utils.d_flex(flex, column, center, center, 0em);
  width: 97vw;
  margin: auto;
}

.gallery {
  @include utils.neo(#1c1a1a, 7px, 7px);
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 18px;
}

.gallery img {
  @include utils.img(100%, 200px, cover, 1);
  border-radius: 5px;
}
// Media Queries para mejor adaptación
@media (min-width: 1065px) {
  .gallery {
    max-width: 1200px; /* Limita el ancho máximo */
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* Más columnas */
    gap: 20px; /* Mayor separación en pantallas grandes */
  }
}
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr; // Una sola imagen por fila en móviles
  }
}
