@use "../utilities/utilities" as utils;
/*Estilo de la galería de Venezuela*/

.contenedor {
  @include utils.d_flex(flex, column, space-evenly, center, 0em);
  width: 97vw;
  height: 80vh;
  margin: auto;
}
.seccion {
  @include utils.neo(#1c1a1a, 10px, 10px);
  width: 140px;
  height: 40px;
  text-align: center;
  margin-top: 1em
}
.gallery {
  @include utils.neo(#1c1a1a, 10px, 10px);
  @include utils.d_flex(flex, row, center, center, 0);
  width: 96%;
  height: 70%;
  flex-wrap: wrap;
}
.contenedor-gallery{
  @include utils.d_flex(flex, row, space-evenly, center, 0);
  width: 100%;
  height: 100%;
}

.album {
  position: relative;
  flex: 1 1 30%; // cada imagen ocupa ~30% del ancho, se ajusta sola
  max-width: 95%;
  height: 93%;
  border-radius: 10px;
  overflow: hidden;
  margin: 1%;
  transition: flex-grow 0.5s ease;
}
.album img {
  @include utils.img(100%, 100%, cover, 0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
//
.album:hover img {
  opacity: 1;
  filter: contrast(120%);
  transform: scale(1.5);
}
.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
  font-size: 2em;
  transition: opacity 0.3s ease-in-out;
}

.album:hover .titulo {
  opacity: 1;
  color: #d0caca;
  cursor: pointer;
}

/* albums individuales */
.albums {
  @include utils.d_flex(flex, column, space-evenly, center, 0em);
  width: 90vw;
  margin: auto;
  padding-top: 1em;
}
.album-content {
  display: none; /* inicialmente oculto */
  padding: 1em;
  background-color: #1c1a1a;
  border-radius: 15px;
  box-shadow: inset 7px 7px 14px #040404, inset -7px -7px 14px #222020;
  text-align: center;
  margin-top: 1em;
}
.album-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
.album-grid a {
  display: block;
}
.album-grid-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.close-album {
  @include utils.neo(#1c1a1a, 7px, 7px);
  color: utils.$color_cerrar;
  margin-top: 1em;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
  letter-spacing: 0.3em;
}

//Media Queries para mejor adaptación
@media (min-width: 1065px) {
  .gallery {
    @include utils.neo(#1c1a1a, 7px, 7px);
    @include utils.d_flex(flex, row, center, center, 0);
    width: 100%;
    height: 73%;
  }
}

@media screen and (max-width: 768px) {
  .contenedor {
    height: auto;
  }
  .gallery {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.2em;
  }
  .album {
    flex: 1 1 90%; // ocupar todo el ancho
    max-width: 92%;
    height: auto; // que se adapte al contenido
    margin: 10px;
  }
  .close-album {
    font-size: 0.8em;
    padding: 0.3em;
    letter-spacing: 0.2em;
  }
  // .album-grid {
  //   grid-template-columns: repeat(3, 1fr);
  // }
}
@media (max-width: 480px) {
  .album-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery{
    margin-top: 1em;
  }
}

//dato alternativo
/*body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* ocupa todo el espacio disponible 
}

footer {
  margin-top: auto; /* se pega al fondo 
}

*/
