@use "../utilities/utilities" as utils;

/*Estilo del header*/
.menu {
  @include utils.d_flex(flex, row, space-between, center, 0.3em);
  padding: 0 1em;
  font-size: 2.3em;
}
.marca {
  color: utils.$color_marca;
  width: 210px;
  padding: 0.1em;
  text-align: center;
}
.marca a{
  text-decoration: none;
}
.cerrar {
  color: utils.$color_cerrar;
  text-align: center;
}
.marca:hover {
  color: utils.$color_hover;
}
.cerrar:hover {
  color: utils.$color_marca;
}
.marca {
  @include utils.neo(#1c1a1a, 7px, 7px);
}
.cerrar {
  @include utils.neo(#1c1a1a, 7px, 7px);
  width: 40px;
}

// @media screen and (max-width: 768px) {
//   .menu {
//     justify-content: space-around;
//     padding: 0;
//   }
//   .marca {
//     font-size: 0.8em;
//     width: auto;
//   }
// }
@media (max-width: 320px) {
  .menu {
    justify-content: space-around;
    padding: 0;
  }
  .marca {
    font-size: 0.8em;
    width: auto;
  }
}
